/* GENERAL STYLES */
body {
  background-color: #303030;
  color: #FFFFFF;
}

.container {
  margin: 10px auto;
}

#hidden {
  display: none;
}

/* FORM */
#form-div {
  background-color: #424242;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

input {
  background-color: #424242;
  border: solid rgb(198, 195, 195) 1px;
  color: #FFFFFF;
  margin-left: 10px;
}

input#other-age {
  width: 70px;
}

.btn {
  margin-left: 10px;
}

/* RESULTS */
.phone-stack {
  background-color: #424242;
  width: 30%;
  border-radius: 8px;
  padding: 10px;
  height: 270px;
  overflow-y: auto;
  text-align: start;
}

img {
  float: right;
}

ul {
  padding-left: 2px;
}

li {
  margin: 10px;
  list-style: none;
}

table {
  width: 100%;
}

.diff {
  color: rgba(255, 255, 255, 0.650);
  font-style: italic;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 770px) {
  .phone-stack {
    width: 100%;
  }
}