/* GENERAL STYLES */
.container {
  margin: 10px auto;
}
h1 {
  color: #FFFFFF;
}

h3 {
  color: #FFFFFF;
}
body {
  background-color: #303030
  /* color: white; */
}

#hidden {
  display: none;
}

/* FORM */
#form-div {
  background-color: #424242;
  border-radius: 8px;
  padding: 10px;
  color: #FFFFFF;
}

input {
  background-color: #424242;
  border: solid rgb(198, 195, 195) 1px;
  color: #FFFFFF;
  margin-left: 10px;
  width: 60px;
}

.btn {
  margin-left: 10px;
}

/* RESULTS */

.phone-stack {
  background-color: #424242;
  border-radius: 8px;
  padding: 10px;
  height: 250px;
  overflow-y: auto;
  text-align: start;
  color: #FFFFFF;
}

img {
  display: flex;
  float: right;
  object-position: center top;
}

li {
  margin: 10px;
  list-style: none;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 770px) {
  .phone-stack {
    width: 100%;
  }
}